:root {
	--primary-color: #2b8b4b;
	--secondary-color: #f8db66;
	--max-width: 1100px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #ff0000;
}

::-webkit-media-controls-panel {
	background-color: var(--secondary-color);
}

html,
body {
	background-image: url('/background.svg');
	background-size: 100vw 100vh;
	font-family: var(--font-mono);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

input {
	border: none;
	height: 30px;
}
button {
	min-width: 50px;
	height: 30px;
}

.MuiDialogContent-root {
	padding: 0px !important;
}

.MuiButton-root {
	background-color: var(--secondary-color) !important;
	color: var(--primary-color) !important;
	height: 40px !important;
	min-width: 120px !important;
}
.Mui-focused {
	background-color: var(--secondary-color) !important;
	color: var(--primary-color) !important;
}

.MuiButton-root:hover {
	background-color: var(--secondary-color) !important;
}
